
/* Header */

#logo-desktop {
  display: none;
}

#header-light {
  color: var(--forestGreen);
  background-color: var(--goldYellow_Washed) ;
}

#header-light a {
  color: var(--forestGreen);
}

#header-light a:hover {
  color: var(--goldYellow);
}

@media screen and (min-width: 920px) {

  /* Header */

  #logo-desktop {
    display: block;
  }

  #logo-mobile {
    display: none;
  }

  header {
    padding: 40px 80px 40px 80px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: var(--forestGreen);
  }

  header ul {
    padding: 0px 20px 0px 20px;
    display: inline-flex;
  }

  header li {
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-right: 32px;
  }

}

